    <!-- Google Analytics Tracking code -->
    <amp-analytics type="googleanalytics">
         <script type="application/json">
              {
                   "vars": {
                        "account": "{{ site.google_analytics }}"
                   },
                   "triggers": {
                        "trackPageview": {
                             "on": "visible",
                             "request": "pageview"
                        }
                   }
              }
         </script>
    </amp-analytics>