    <!-- Previous/next page links - only displayed on page 2+ -->
    <div class="extra-pagination inner">
        {% if page.class == 'home-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'page-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'author-template' %}
            {% include author_pagination.html %}
        {% elsif page.class == 'tag-template' %}
            {% include tag_pagination.html %}
        {% else %}
            {% include post_pagination.html %}
        {% endif %}
    </div>

    <!-- This is the post loop - each post will be output using this markup -->
    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{ post.content | strip_html | truncatewords: 26 }} <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">&raquo;</a></p>
        </section>
        <footer class="post-meta">
            {% if site.image %}<img class="author-thumb" src="{{ site.baseurl }}/{{ site.image }}" alt="{{ site.author }}" nopin="nopin" />{% endif %}
            <!-- author -->
            <a href='{{ site.baseurl }}/author/{{ site.nickname }}'>{{ site.author }}</a>
            <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
            <span class="post-reading-time">{{ post.content | reading_time_as_i }} to read</span>
            <!-- [[tags prefix=" on "]] -->
            {% if post.tags.size > 0 %}
                {% for tag in post.tags %}
                    <a href='{{ site.baseurl }}/tag/{{ tag }}'>#{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </footer>
    </article>
    {% endfor %}

    <!-- Previous/next page links - displayed on every page -->
    {% if page.class == 'home-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'page-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'author-template' %}
        {% include author_pagination.html %}
    {% elsif page.class == 'tag-template' %}
        {% include tag_pagination.html %}
    {% else %}
        {% include post_pagination.html %}
    {% endif %}
