---
layout: default
class: 'post-template'
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

{% capture publication-date %}{{ page.date | date: '%Y-%m-%d' | date: '%s' }}{% endcapture %}
{% capture last-modified-date %}{{ page.last-modified-date | date: '%Y-%m-%d' | date: '%s' }}{% endcapture %}

{% include pull_author.html %}

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}/{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ page.title }}</h1>
        </div>
    </div>
</header>

<main class="content" role="main">

    <article class="{{ page.subclass }}">

        <header class="post-header">
            <section class="post-meta">
                <a href="{{ site.baseurl }}/{{ page.about }}" class="author">{{ author.name }}</a>
                <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
                {% comment %}
                {% if publication-date < last-modified-date %}
                    <time class="post-date" datetime="{{ page.last-modified-date | date:'%Y-%m-%d' }}">
                        Updated @ {{ page.last-modified-date | date_to_string }}
                    </time>
                {% endif %}
                {% endcomment %}
                <span class="post-reading-time">{{ content | reading_time_as_i }} to read</span>

                <!-- [[tags prefix=" on "]] -->
                {% if page.tags.size > 0 %}
                    {% for tag in page.tags %}
                        <a href='{{ site.baseurl }}/tag/{{ tag }}'>#{{ tag }}</a>
                    {% endfor %}
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            
            {{ content }}

        </section>

        <section class="improve-content">
            <a href="{{ site.source_url }}blob/{{ site.posts_branch }}/{{ page.path | remove: '_posts/' }}">Improve this post</a>
            |
            <a href="{{ site.source_url }}commits/{{ site.posts_branch }}/{{ page.path | remove: '_posts/' }}">View history</a>
        </section>

        <footer class="post-footer">

            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->

            {% if author.avatar %}
            <figure class="author-image">
                <a class="img" href="{{ site.baseurl }}/author/{{ site.nickname }}" style="background-image: url({{ site.baseurl }}/{{ author.avatar }})"><span class="hidden">{{ author.name }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="{{ site.baseurl }}/author/{{ author.nickname }}">{{ author.name }}</a></h4>
                
                {% if author.bio %}
                    <p> {{ author.bio }}</p>
                {% else %}
                    <p>Read <a href="{{ site.baseurl }}/author/{{ author.nickname }}">more posts</a> by this author.</p>
                {% endif %}
                <div class="author-meta">
                    {% if author.location %}<span class="author-location icon-location"> {{ author.location }}</span>{% endif %}
                    {% if author.url %}<span class="author-link icon-link"><a href="{{ author.url }}"> {{ author.short_url }}</a></span>{% endif %}
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

            <aside class="post-nav">
                <!-- [[! next_post ]] -->
                {% if page.next %}
                    <a class="post-nav-next" href="{{ site.baseurl }}{{ page.next.url }}">
                        <section class="post-nav-teaser">
                            <i class="fa fa-chevron-left"></i>
                            <h2 class="post-nav-title">{{ page.next.title }}</h2>
                            <p class="post-nav-excerpt">{{ page.next.content | strip_html | truncatewords:15 }}</p>
                        </section>
                    </a>
                {% endif %}
                <!-- [[! /next_post ]] -->

                <!-- [[! prev_post ]] -->
                {% if page.previous %}
                    <a class="post-nav-prev" href="{{ site.baseurl }}{{ page.previous.url }}">
                        <section class="post-nav-teaser">
                            <i class="fa fa-chevron-right"></i>
                            <h2 class="post-nav-title">{{ page.previous.title }}</h2>
                            <p class="post-nav-excerpt">{{ page.previous.content | strip_html | truncatewords:15 }}</p>
                        </section>
                    </a>
                {% endif %}
                <!-- [[! /prev_post ]] -->
                <div class="clear"></div>
            </aside>

            {% include newsletter.html %}
            
            <!-- Add Disqus Comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}
            
        </footer>

    </article>

</main>
<!-- /post -->
